*{
    list-style: none;
}

body{
    font-family: 'Courier New', Courier, monospace;
    --blue-color: #14a0db;
    --white-color: #f3f3f3;
}

.row{
    margin: 0;
    --bs-gutter-x: 0;
}

.logo{
    font-size: 2rem;
    font-weight: bold;
    color: var(--blue-color);
    text-decoration: none;
}

.logo > span{
    -webkit-text-stroke: 1px var(--blue-color); 
    color: var(--white-color);
}

.navbar-icon{
    color: var(--blue-color);
}

.form-check-input{
    cursor: pointer;
}

.custom-range{
    cursor: pointer;
    width: 30px;
}

.girar-icon{
    color: transparent;
    transition: 0.4s;
}

.li-country{
    cursor: pointer;
}

.card{
    max-width: 25rem;
}

.card-list{
    font-weight: bold;
}

.card-text > li > a{
    text-decoration: none;
}

.error > img{
    width: 4rem;
}